<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-button (click)="logout()" expand="block" color="light"
      ><ion-icon name="log-out-outline"></ion-icon>Logout</ion-button
    >
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="cursive" color="primary">Diar.io</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <section class="title">
    <ion-text color="primary">
      <h1 class="cursive">Welcome to Diar.io!</h1>
    </ion-text>
    <p>Check out what people have been writing about below.</p>
  </section>
  <app-list-entries></app-list-entries>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="createEntry()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
