<ion-header>
  <ion-toolbar>
    <ion-title
      ><ion-icon name="create-outline"></ion-icon>&nbsp;{{mode | titlecase}}
      Entry</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="entryForm" action="submit" (ngSubmit)="save()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Title</ion-label>
        <ion-input
          formControlName="title"
          type="text"
          placeholder="What would you like to call this entry?"
        ></ion-input>
      </ion-item>
      <ion-item class="quill-wrapper">
        <quill-editor
          formControlName="content"
          [sanitize]="true"
          [modules]="quillModules"
          [theme]="'snow'"
          [placeholder]="'What would you like to write about?'"
          [required]="true"
          [styles]="{'min-height': '250px'}"
        ></quill-editor>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-button
    [disabled]="!entryForm.valid || entryForm.pristine"
    (click)="save()"
    expand="block"
    ><ion-icon name="save-outline"></ion-icon>&nbsp;Save</ion-button
  >
  <hr />
  <ion-button (click)="cancel()" color="secondary" expand="block"
    ><ion-icon name="close-outline"></ion-icon>Cancel</ion-button
  >
</ion-footer>
